#div1{
	padding-left: -330px;
	float: left;
}

#div2{
	float: right;
}
#selects{
	margin-top: 50px;
	align-items: left;
}
#sel1{
	margin-right: 300px;
	border: 3px ridge #C4C9FF;
	border-radius: 4px;
	width: 200px;
	height: 40px;
	float: center;
	font-family: gotham black;
	font-size: 17px;
}

#sel2{
	margin-left: 300px;
	border: 3px ridge #C4C9FF;
	border-radius: 4px;
	width: 200px;
	height: 40px;
	float: center;
	font-family: gotham black;
	font-size: 17px;
}

.sel:hover{
	border-color: #83acfe !important;
}

#xis{
	margin-top: 0px;
	font-size: 25px;
	font-family: bold;
}
input[type=text]{
	width: 45px;
	border: 2px ridge #C4C9FF;
	border-radius: 5px;
}
input[type=text]:hover{
	border: 2px ridge #83acfe;
}