
#sel1{
	width: 200px;
	height: 40px;
	border: 3px ridge #C4C9FF;
	border-radius: 4px;
	font-family: gotham black, serif;
	font-size: 17px;
}

#sel2{
	border: 3px ridge #C4C9FF;
	border-radius: 4px;
	width: 200px;
	height: 40px;
	font-family: gotham black, serif;
	font-size: 17px;
}

select:hover{
	border-color: #83acfe !important;
}

#xis{
	margin-top: 0;
	font-size: 25px;
	font-family: bold, serif;
}
.text8{
	width: 45px;
	border: none;
	border-radius: 5px;
	text-align: center;
}
input[type=text]:hover{

	border: none;
}

#subbut{
	background-color: #407FFF;
	font-size: 26px;
	border: none;
	width: 200px;
	height: 44px;
	border-radius: 4px;
	color: white;
	margin-bottom: 20px;
}

input[type=submit]:hover{
	background-color: #83acfe;
	border: 2px solid #407FFF;
	color: white;
}

#msg3{
	width: 800px !important;
}

#tbf{
	background-color: #add3ff;
}
#tbs{
	background-color: #acf6ff;
}
#tbt{
	background-color: #cbefff;
}